<!-- Displays an admin item of a certain id. No need to put access control
because no routes are configured for this view. -->

<p id="notice"><%= notice %></p>

<p>
  <strong>Admin:</strong>
  <%= @admin.admin_id %>
</p>

<p>
  <strong>Admin code:</strong>
  <%= @admin.admin_code %>
</p>

<%= link_to 'Edit', edit_admin_path(@admin) %> |
<%= link_to 'Back', admins_path %>
